$img_dir: "../images/topnav";

// Variables
$github-xs-img: "images/topnav/GitHub-Mark-24px.png";
$github-sm-img: "images/topnav/GitHub-Mark-32px.png";
$twitter-xs-img: "images/topnav/twitter-icon-24px.png";
$twitter-sm-img: "images/topnav/twitter-icon-32px.png";

@mixin social_link($size, $img) {
	display:block;
    width: $size;
    height:$size;
    margin:4px;
    background: url(unquote($img));
}


